# Supabase URL (из настроек Project -> API)
SUPABASE_URL=https://your-project-id.supabase.co/rest/v1/

# Service Role Key (Secret) - Использовать ТОЛЬКО на бэкенде (server.js). Обходит RLS!
SUPABASE_SERVICE_KEY=your-service-role-secret-key

# Anon Public Key - Использовать ТОЛЬКО на фронтенде (index.html). Ограничен правилами RLS.
SUPABASE_ANON_KEY=your-anon-public-key